{% extends "base.html" %}{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="profile-main">
      <img class="img-circle" src="{% static "images/tmp_profile_img.jpg" %}" alt-text"profile picture">
      <p>Hi, I'm JJ. I am a software developer. I recently returned
         to America after living overseas. I enjoy making canvas games with
         javascript and studying new languages and frameworks. I am currently
          learning as much as I can, and hope to update this page often. This is a place for
          me to practice what I am learning, get advice, and show off some
           of my projects. I love building HTML/JS games for browsers.
           I am available for open source projects or freelance work.
           When I am not coding, I like listening to music,
            traveling, and learning new things.</p>

    </div>
  </div>
</div>
{% endblock %}
